%h1 Vote now

%h2= @ballot.new_record? ? 'Submit your vote' : 'Update your vote'

%form{:action => "/vote", :method => "post"}
  .taste
    %ul
      = list_of @entries do |entry|
        %label{:for => "ballot[taste][#{entry.name}]"}= entry.name
        %input{:type => 'text', :name => "ballot[taste][#{entry.name}]", :id => "ballot[taste][#{entry.name}]", :size => 2, :value => @ballot[:taste].index(entry.name)}
  %input{:type => "submit", :value => "Vote!"}
