%h1.yellow Vote now

%p To place your vote, simply drag the entries into the order you think they should be in. Your favorite goes at the top, everything else follows in descending order of preference. Don't forget to hit <i>Vote!</i> when you're done.

%p You can come back later and update this if you change your mind. Voting ends at 4:30pm.

%form{:action => "/vote", :method => "post"}
  - if @ballot.new_record?
    %label{:for => "ballot_name"} Your name:
    %input{:type => "text", :name => "ballot[name]", :id => "ballot_name"}
    @digitalpulp.com
    %h2 Submit your vote:
  - else
    %h2= "Welcome back, #{@ballot.name}. You may update your vote:"

  .taste
    %ul#sortable
      = list_of @entries do |entry|
        %label{:for => "ballot_taste_#{entry.name}"}= entry.name
        %input{:type => 'text', :name => "ballot[taste][#{entry.name}]", :id => "ballot_taste_#{entry.name}", :size => 2, :value => @ballot[:taste].index(entry.name)}
  %input{:type => "submit", :value => "Vote!"}

%script{:type => 'text/javascript', :src => '/js/jquery-ui-1.8.7.custom.min.js'}
:javascript
  $(function() {
    $('#sortable').sortable({
      update: function(event, ui) {
        $(ui.item[0]).parent().children().each(function(index,child) {
          $(child).children('input').val(index);
        })
      }
    });
  })
