%h1 Vote now

%form{:action => "/vote", :method => "post"}
  - if @ballot.new_record?
    %label{:for => "ballot_name"} Your name:
    %input{:type => "text", :name => "ballot[name]", :id => "ballot_name"}
    @digitalpulp.com
    %h2 Submit your vote:
  - else
    %h2= "Welcome back, #{@ballot.name}. You may update your vote:"

  .taste
    %ul#sortable
      = list_of @entries do |entry|
        %label{:for => "ballot_taste_#{entry.name}"}= entry.name
        %input{:type => 'text', :name => "ballot[taste][#{entry.name}]", :id => "ballot_taste_#{entry.name}", :size => 2, :value => @ballot[:taste].index(entry.name)}
  %input{:type => "submit", :value => "Vote!"}

:javascript
  $('#sortable').sortable({
    update: function(event, ui) {
      $(ui.item[0]).parent().children().each(function(index,child) {
        $(child).children('input').val(index);
      })
    }
  });
